PORT=3000
MONGO_URI=myMongoUrl
BASE_URL= BASE_URL=https://w1887688-advanced-server-side.onrender.com
INDEX_URL=https://alexandru-rx.github.io/w1887688-Advanced-Server-Side/  
VERIFY_TOKEN_SECRET=myVerificationToken
SESSION_SECRET=mySessionSecret
